.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  font-family: Castellar;
  font-size: x-large;
}

.message-sender {
  margin-right: 5%;

  font-family: Berlin Sans FB;
  color: blue;
  font-size: larger;

  
}

.message-text {
  font-family: Comic Sans MS;
  color: black;
  font-size: large;
}

.chat-container {
  border: 2px solid red;
  background-color: white;
  opacity: 0.7;
  border-radius: 10px;
  text-align: center;
  margin: 10%;
}

.chat-messages {
  margin: 10%;
  text-align: justify;
}

.chat-form {
  margin-bottom: 3%;
}

body {
  background-image: url("https://unblast.com/wp-content/uploads/2021/01/Space-Background-Image-3.jpg");
}

button {
  padding: 1%;
  background-color: cyan;
  border-radius: 5px;
}

input {
  padding: 1%;
  border-radius: 5px;
  margin-right: 1%;
  background-color: lightgray;
  border: 2px solid black;
}